# Database
DB_USER=geosurepath
DB_PASSWORD=change-this-to-something-long-and-random-32-chars-min
DB_NAME=geosurepath
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# SaaS API
PORT=3001
JWT_SECRET=024d075ad0d7a1ccdc77477c3f5072147916da05f802301dbc9c5855b1afb572ceebebeba57d7900f47744227eb03755b5b77fc56477a1c177873b5bba4b0a6b

# Traccar integration
TRACCAR_URL=http://traccar:8082
TRACCAR_ADMIN_EMAIL=admin@example.com
TRACCAR_ADMIN_PASSWORD=change-this-to-strong-password
