target
nbactions.xml
.classpath
.project
.settings
.idea
*.iml
.DS_Store
.checkstyle
.gradle
out
build
.vscode
bin
11111.pem
*.env
node_modules
dist
logs
data
track.tar.gz
deploy.tar.gz
setup_saas.sql
traccar_error.log
unified_schema.prisma
*.log
*.pem