global
    maxconn 20000

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

# Frontend for GPS Protocols (Example: 5001-5150)
frontend gps_in
    bind *:5001-5150
    default_backend traccar_nodes

# Frontend for Traccar API
frontend traccar_api
    mode http
    bind *:8082
    default_backend traccar_api_nodes

backend traccar_nodes
    balance source # Sticky sessions based on device IP
    server node1 traccar-node:5001-5150 check # Docker DNS will resolve to multiple IPs

backend traccar_api_nodes
    mode http
    balance roundrobin
    server node1 traccar-node:8082 check
